<!--<div *ngFor="let a of artists">
  

  <p>Popularidad: {{ a.popularity }} </p>
  <p>Seguidores: {{ a.followers.total | number }} </p>

  <p>Generos:</p>
  
  <ul *ngFor="let g of a.genres">
    <li> {{ g }} </li>
  </ul>

  <div *ngIf="a.name == 'deadmau5'">
    <h1>Nombre artista: {{ a.name }}</h1>
  </div>
  <input (ngModel)="title" [value]="title" >
  <h1>{{ title }}</h1>
  <button (click)="setValue()">Set value</button>
</div>

header-->
<app-header></app-header>
<!--contenido..-->
<router-outlet></router-outlet>
<!--footer-->
<app-footer></app-footer>